:root {
  --blue: #002244; /* Example blue color */
  --white: #ffffff;
  --container-padding: 30px;
}

.container {
  padding: var(--container-padding);
}

*,
html,
body,
header,
nav,
section,
.project,
.contact-links a {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

header,
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  color: var(--white);
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul,
.contact-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

nav a,
.contact-links a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover,
nav a:focus,
.contact-links a:hover,
.contact-links a:focus {
  color: #3aadde;
}

.selfie {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

section,
#contact {
  padding: 2em 0;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

h1,
h2,
p,
.project h3 {
  font-weight: bold;
  text-align: center;
}

.project {
  position: relative;
  width: 30ww; /* Adjusted for potential typo */
  overflow: hidden;
  margin: 15px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.avatar-wave {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* This will cover the container with the image without distorting its aspect ratio, but it might crop the image */
}

.first-project img {
  width: 110%; /* Increase the width of the image */
  height: auto; /* Maintain the aspect ratio of the image */
}

.project img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
  border: 0;
}

.project:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

.project:hover h3 {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Media Queries */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  #work a,
  .first-app img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  :root {
    --container-padding: 40px; /* Increase padding for larger screens */
  }
}
